ol.breadcrumb {
  padding: 0.8rem;
  margin-top: 3.5rem;
  list-style: none;

  li {
    display: inline;
    font-size: 0.8rem;

    + li:before {
      padding: 8px;
      color: rgb(61, 60, 60);
      content: "/\\00a0";
    }

    a {
      color: #67b894;
      text-decoration: none;

      &:hover {
        color: #91dfbc;
      }
    }
  }
}
