ol.breadcrumb {
  padding: .8rem;
  margin-top: 3.5rem;
  list-style: none;

  li {
    display: inline;
    font-size: .8rem;

    + li:before {
      padding: 8px;
      color: rgb(61, 60, 60);
      content: "/\\00a0";
    }

    a {
      color: #ffc107;
      text-decoration: none;

      &:hover {
        color: #ff9800;
      }
    }
  }
}