.restaurant-header {
  background-color: #f7f7fb;
  margin-top: -1rem;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  margin-bottom: 2.5rem;
  padding: 2rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .col-image {
      display: flex;
      height: 250px;

      img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(51, 54, 69, 0.1);
        object-fit: cover;
      }
    }

    .col-info {
      margin-left: 2.5rem;

      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 2rem;
      }

      .categories-info {
        display: inline-block;

        span {
          background-color: #67b894;
          color: #fff;
          font-size: 10px;
          padding: 0.2rem 1rem;
          border-radius: 10px;
        }
      }

      .basic-info {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 80px 100px;
        font-size: 0.9rem;

        i.fa.active {
          color: #67b894;
        }
      }

      .description-info {
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 10.6em;
        line-height: 1.8em;
        color: #6d6d6d;
        margin-top: 20px;
        margin-bottom: 0;
      }
    }

    .col-address-info {
      h4 {
        font-size: 1rem;
        margin-bottom: 8px;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 2px;
      }

      a {
        font-size: 0.8rem;
        font-weight: bold;
        color: #67b894;

        &:hover {
          color: #91dfbc;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .restaurant-header {
    padding: 1.5rem 0;

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
      padding-left: 20px;
      padding-right: 20px;

      .col-info {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .restaurant-header .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;

    .col-info {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}

@media (min-width: 992px) {
  .restaurant-header .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
