<ul class="nav-menu">
  <li class="active">
    <a href="/">
      <div class="nav-menu-icon">
        <img src="~assets/icons/home.svg" alt="Home" />
      </div>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="#">
      <div class="nav-menu-icon">
        <img src="~assets/icons/favourite.svg" alt="Favourite" />
      </div>
      <span>Favorite</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/TotonAntoko" target="_blank">
      <div class="nav-menu-icon">
        <img src="~assets/icons/about-us.svg" alt="About Us" />
      </div>
      <span>About Us</span>
    </a>
  </li>
</ul>