@import "./font-awesome/font-awesome.scss";
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("~assets/fonts/lato-v16-latin-regular.eot"); // IE9 Compat Modes
  src: url("~assets/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"),
    // IE6-IE8
    url("~assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    // Super Modern Browsers
    url("~assets/fonts/lato-v16-latin-regular.woff") format("woff"),
    // Pretty Modern Browsers
    url("~assets/fonts/lato-v16-latin-regular.ttf") format("truetype"),
    // Safari, Android, iOS
    url("~assets/fonts/lato-v16-latin-regular.svg#Lato") format("svg"); // Legacy iOS
  font-display: swap;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  &.btn-warning {
    background-color: #67b894;
    color: white;

    &:hover {
      background-color: #91dfbc;
    }
  }

  &.btn-fab {
    background-color: #67b894;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(51, 54, 69, 0.1);

    i {
      font-size: 24px;
    }

    &:hover {
      background-color: #91dfbc;
    }
  }
}

.skip-link {
  position: fixed;
  top: -50px;
  left: 0;
  background-color: #caf7e3;
  color: #293a46;
  font-weight: bold;
  font-size: 12px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  z-index: 1030;
  &:focus {
    top: 16px;
    left: 16px;
  }
}

body {
  background-color: #e6e6e6;
  font-family: "Lato";
  color: #3c4f5c;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #3c4f5c;
}

main {
  .main-list {
    margin-top: 15rem;
    .main-header {
      margin-top: 20px;
      margin-bottom: 15px;
      .main-title {
        h1 {
          margin-top: 0;
          margin-bottom: 5px;
          color: #293a46;
          text-transform: capitalize;
          font-size: 1em;
        }
        p {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 12px;
        }
      }
    }

    .main-review {
      display: grid;
      grid-template-rows: 1fr;

      .main-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(51, 54, 69, 0.1);
        margin-bottom: 15px;

        .col-info {
          padding: 15px 20px;

          h4 {
            margin-top: 10px;
            margin-bottom: 0px;
          }

          p {
            font-size: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 5.6em;
            line-height: 1.8em;
            color: #6d6d6d;
            margin-bottom: 0;
          }

          p.note {
            margin-top: 5px;
          }

          p.date {
            font-size: 8px;
            font-style: italic;
          }
        }
      }
    }

    .main-form {
      padding: 1.5rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(51, 54, 69, 0.1);
      margin-bottom: 15px;

      .col-form {
        width: 100%;
        display: grid;
        margin-bottom: 15px;

        label {
          margin-bottom: 10px;
        }

        input,
        textarea {
          width: auto;
        }
      }
    }
  }
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  outline-color: #67b894;
  font-family: "Lato", sans-serif;
}

footer .container {
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
  padding: 10px 0;
}

@media (min-width: 576px) and (max-width: 768px) {
  main {
    .main-list {
      margin-top: 15rem;

      .main-review {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  main {
    .main-list {
      margin-top: 18rem;

      .main-review {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }
  }
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  main {
    .main-list {
      margin-top: 18rem;

      .main-review {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
    }
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    .main-list {
      margin-top: 18rem;

      .main-review {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
      }
    }
  }
  .container {
    max-width: 1080px;
  }
}

@media (min-width: 1440px) {
  main {
    .main-list {
      .main-review {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
      }
    }
  }

  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  main {
    .main-list {
      .main-review {
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
      }
    }
  }

  .container {
    max-width: 1800px;
  }
}

@media (min-width: 992px) {
  footer .container {
    margin-top: 1.2rem;
  }
}

/* ---- Favorite Page ---- */
.main-content .empty-favorite {
  text-align: center;
  img {
    width: 35%;
  }
}
